.sponsor-container .sponsor {
  list-style: none;
  margin-bottom: 4rem;
  padding: 0;
  font-size: 0;
  padding: 20px;
  position: relative; }
  .sponsor-container .sponsor li {
    font-size: 1rem;
    display: inline-block;
    width: 33%;
    position: relative;
    background-color: transparent;
    margin: 0;
    margin-bottom: 30px;
    padding: 15px;
    vertical-align: middle; }
    .sponsor-container .sponsor li > img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      text-align: center; }

.sponsor-container .sponsor-gold li {
  width: 33%;
  padding: 15px; }
  @media screen and (max-width: 980px) {
    .sponsor-container .sponsor-gold li {
      width: 45%;
      height: 260px;
      padding: 10px;
      margin: 0; } }
  @media screen and (max-width: 736px) {
    .sponsor-container .sponsor-gold li {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      height: 260px; } }

.sponsor-container .sponsor-silver li {
  width: 25%;
  padding: 15px; }
  @media screen and (max-width: 980px) {
    .sponsor-container .sponsor-silver li {
      width: 33%;
      height: 260px;
      padding: 10px;
      margin: 0; } }
  @media screen and (max-width: 736px) {
    .sponsor-container .sponsor-silver li {
      width: 45%;
      margin: 0 auto;
      padding: 10px;
      height: 260px; } }

#schedule {
  width: 850px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  #schedule h3 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px; }
  #schedule .day {
    width: 420px;
    display: inline-block;
    padding: 10px;
    margin: 0; }
    #schedule .day dl {
      overflow: hidden;
      margin-bottom: 0.8em;
      position: relative; }
      #schedule .day dl dt {
        position: absolute;
        width: 50px;
        left: 0;
        text-align: right;
        margin-right: 1em;
        height: 100%; }
      #schedule .day dl dd {
        width: 100%;
        padding-left: 60px;
        height: 100%; }
    #schedule .day.one-day {
      border-right: 2px inset #ccc; }
  @media screen and (max-width: 800px) {
    #schedule {
      width: 100%; }
      #schedule .day {
        width: 100%; }
        #schedule .day.one-day {
          border-right: none; } }

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  color: #333; }
  table tr {
    border: solid 1px rgba(255, 255, 255, 0.125);
    border-left: 0;
    border-right: 0; }
    table tr:nth-child(2n + 1) {
      background-color: rgba(255, 255, 255, 0.125); }
  table th {
    font-size: 0.8em;
    font-weight: 600;
    padding: 0 2em 0.75em 0.75em;
    text-align: left;
    white-space: nowrap; }
  table td {
    font-size: 0.9em;
    padding: 0.75em;
    text-align: left; }
    table td.access-map {
      width: 100%; }
    table td ul {
      list-style: disc;
      margin: 0 0 2em 0;
      padding-left: 1em; }
      table td ul li {
        padding-left: 0.5em; }

.gmap-frame {
  margin-top: 50px;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 0;
  z-index: 10; }
  .gmap-frame > #gmap {
    position: relative;
    width: 100%;
    height: 400px; }

.text-container {
  padding: 0 0 1em 0;
  margin: 0 auto;
  width: 55em;
  text-indent: 1em; }
  @media screen and (max-width: 980px) {
    .text-container {
      width: 100%;
      padding: 3em 3em 1em 3em; } }
  @media screen and (max-width: 736px) {
    .text-container {
      padding: 2em 2em 0.1em 2em; } }

#atend {
  position: fixed;
  top: 100px;
  right: 0;
  background: #eee;
  z-index: 999;
  border: 1px solid #ccc;
  color: #333;
  text-align: center;
  padding: 25px; }
  @media screen and (max-width: 435px) {
    #atend {
      display: none; } }
  #atend h2, #atend h3, #atend h4 {
    color: #333;
    font-family: 'Roboto';
    margin: 0;
    padding: 0; }
  #atend h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 5px; }
  #atend h3 {
    font-size: 22px;
    margin-bottom: 5px; }
  #atend h4 {
    font-size: 18px;
    margin-bottom: 10px; }
  #atend .apply-button {
    color: #333;
    border: 2px solid #90CAF9;
    border-radius: 0px;
    background: transparent; }
    #atend .apply-button:hover {
      background: rgba(144, 202, 249, 0.2);
      border: 2px solid #90CAF9;
      color: #333; }
    #atend .apply-button.button:after {
      border-color: #333; }
