#copyright {
  margin: 6em 0 0 0; }
  #copyright ul {
    padding: 0.75em 2em;
    font-size: 0.9em; }
    #copyright ul li {
      display: inline-block;
      margin-left: 1em;
      padding-left: 1em;
      border-left: solid 1px #333;
      border-left-color: rgba(255, 255, 255, 0.05); }
      #copyright ul li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0; }

#highlights .highlight h3 {
  margin: 0 0 0.75em 0;
  font-size: 1.15em;
  letter-spacing: 0.05em; }

#footer header.style1 {
  padding-bottom: 0; }

#footer hr {
  margin: 6em 0 6em 0; }

#intro {
  text-align: center; }
  #intro > .style1 {
    font-size: 1.5em;
    letter-spacing: 0.075em; }
  #intro > .style2 {
    font-size: 2.75em;
    letter-spacing: 0.075em;
    line-height: 1.35em;
    padding: 1em 0 1em 0;
    margin-bottom: 1em; }
  #intro > .style3 {
    font-size: 1.1em;
    width: 48em;
    margin: 0 auto; }

.sponsor-container .sponsor {
  list-style: none;
  padding: 0;
  font-size: 0;
  padding: 20px;
  position: relative; }
  .sponsor-container .sponsor li {
    font-size: 1rem;
    display: inline-block;
    width: 33%;
    position: relative;
    background-color: transparent;
    margin: 0;
    padding: 15px;
    vertical-align: middle; }
    .sponsor-container .sponsor li > img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      text-align: center; }

#header {
  position: relative;
  padding: 12em 0; }

.homepage #header {
  padding: 18em 0; }

#features {
  padding: 0 6em 0 6em; }
  #features header.style1 {
    padding-bottom: 5em; }
  #features .actions {
    margin-top: 5em; }

#main {
  margin-top: 1em;
  margin-bottom: 1em; }

.homepage #main {
  margin-top: 0;
  margin-bottom: 0; }

#nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center; }
  #nav > ul {
    display: inline-block;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
    padding: 0 1.5em 0 1.5em; }
    #nav > ul > li {
      display: inline-block;
      text-align: center;
      padding: 0 1.5em 0 1.5em; }
      #nav > ul > li > ul {
        display: none; }
      #nav > ul > li > a, #nav > ul > li > span {
        display: block;
        color: #eee;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.7em;
        letter-spacing: 0.25em;
        height: 5em;
        line-height: 5em;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        outline: 0; }
      #nav > ul > li:hover > a {
        color: #fff; }
      #nav > ul > li.active > a, #nav > ul > li.active > span {
        color: #fff; }

.dropotron {
  background: #222835 url("images/overlay.png");
  background-color: rgba(44, 50, 63, 0.925);
  padding: 1.25em 1em 1.25em 1em;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  min-width: 12em;
  text-align: left;
  margin-top: -1.25em;
  margin-left: -1px; }
  .dropotron.level-0 {
    margin-top: -1px;
    margin-left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .dropotron a, .dropotron span {
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    display: block;
    color: #eee;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    line-height: 3em; }
  .dropotron li:first-child a, .dropotron li:first-child span {
    border-top: 0; }
  .dropotron li:hover > a, .dropotron li:hover > span {
    color: #fff; }

.wrapper {
  padding: 6em 0 9em 0; }
  .wrapper .title {
    font-size: 0.9em;
    width: 25em;
    height: 3.25em;
    top: -3.25em;
    line-height: 3.25em;
    margin-bottom: -3.25em;
    margin-left: -12.5em;
    padding-top: 0.5em; }

#header-wrapper {
  padding: 0; }

#intro-wrapper {
  padding-bottom: 8em; }
