/* PC */
@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 13pt;
    line-height: 1.75em;
    letter-spacing: 0.025em; }
  body {
    min-width: 1200px; }
  hr {
    margin: 2em 0 2em 0; } }

/* Tablet */
@media screen and (max-width: 1200px) and (min-width: 737px) {
  body {
    min-width: 1000px;
    font-size: 12pt;
    line-height: 1.5em;
    letter-spacing: 0.015em; }
  input, select, textarea {
    font-size: 12pt;
    line-height: 1.5em;
    letter-spacing: 0.015em; }
  body {
    min-width: 960px; } }

/* Mobile */
@media screen and (max-width: 736px) {
  html, body {
    overflow-x: hidden; }
  body, input, select, textarea {
    line-height: 1.5em;
    font-size: 10.5pt;
    letter-spacing: 0; }
  h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin: 0 0 1em 0; }
  hr {
    margin: 1em 0 1em 0; } }
