form label {
  display: block;
  font-weight: 700;
  color: #484d55; }

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #eee;
  box-shadow: inset 0px 0px 1px 0px #a0a1a7;
  border-radius: 0.35em;
  width: 100%;
  padding: 0.75em 1em 0.75em 1em; }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="password"]:focus,
  form select:focus,
  form textarea:focus {
    background: #f8f8f8; }

form input[type="text"],
form input[type="email"]
input[type="password"] {
  line-height: 1em; }

form select {
  line-height: 1em; }

form textarea {
  min-height: 10em; }

form .formerize-placeholder {
  color: #555 !important;
  font-style: italic; }

form ::-webkit-input-placeholder {
  color: #555 !important;
  font-style: italic;
  line-height: 1.35em; }

form :-moz-placeholder {
  color: #555 !important;
  font-style: italic; }

form ::-moz-placeholder {
  color: #555 !important;
  font-style: italic; }

form :-ms-input-placeholder {
  color: #555 !important;
  font-style: italic; }

form ::-moz-focus-inner {
  border: 0; }
