section,
article {
  margin-bottom: 3em; }

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0; }

header.style1 {
  text-align: center; }
  header.style1 h2 {
    font-weight: 700; }
  header.style1 p {
    color: #b1b4b9; }

/* PC */
@media screen and (max-width: 1280px) {
  section, article {
    margin: 0 0 4em 0; }
  header.style1 {
    padding: 3em 0 3em 0; }
    header.style1 h2 {
      font-size: 2em;
      letter-spacing: 0.075em;
      line-height: 1.5em; }
    header.style1 p {
      display: block;
      margin: 1.15em 0 0 0;
      font-size: 1.3em;
      letter-spacing: 0.075em;
      line-height: 1.5em; } }

/* Tablet */
/* Mobile */
@media screen and (max-width: 736px) {
  section, article {
    clear: both;
    padding: 1em 0 1em 0 !important; }
  header br {
    display: none; }
  header.style1 {
    padding: 0 0 1em 0; }
    header.style1 h2 {
      font-size: 1.5em;
      letter-spacing: 0.075em;
      line-height: 1.25em; }
    header.style1 p {
      display: block;
      margin: 0; } }
