table {
  width: 100%; }
  table.default {
    width: 100%; }
    table.default tbody tr:nth-child(2n+2) {
      background: #f4f4f4; }
    table.default td {
      padding: 0.5em 1em 0.5em 1em; }
    table.default th {
      text-align: left;
      font-weight: 400;
      padding: 0.5em 1em 0.5em 1em; }
    table.default thead {
      background: #484d55;
      color: #fff; }
    table.default tfoot {
      background: #eee; }
