#highlights .highlight {
  text-align: center; }
  #highlights .highlight h3 {
    color: #e97770; }

/* PC */
@media screen and (max-width: 1280px) {
  #highlights .highlight h3 {
    margin: 0 0 0.75em 0;
    font-size: 1.15em;
    letter-spacing: 0.05em; } }

/* Tablet */
/* Mobile */
