#logo h1 {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff; }

#logo p {
  color: #eee;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

/* PC */
@media screen and (max-width: 1280px) {
  #logo {
    position: absolute;
    height: 5em;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: -0.5em; }
  .homepage #logo {
    margin-top: -1em; }
  #logo h1 {
    font-size: 2em;
    letter-spacing: 0.25em; }
  #logo p {
    margin: 1.25em 0 0 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 0.9em; } }

/* Tablet */
/* Mobile */
@media screen and (max-width: 736px) {
  #logo {
    text-align: center; }
    #logo h1 {
      font-size: 1.5em;
      letter-spacing: 0.2em; }
    #logo p {
      margin: 1.25em 0 0 0;
      display: block;
      letter-spacing: 0.2em;
      font-size: 0.9em; } }
