#copyright {
  margin: 3em 0 0 0; }

#header {
  padding: 10em 0; }

.homepage #header {
  padding: 14em 0; }

#intro > .style1 {
  font-size: 1.25em; }

#intro > .style2 {
  font-size: 2.25em; }

#logo {
  margin-top: -0.5em !important; }
  #logo h1 {
    font-size: 1.75em; }

.wrapper {
  padding: 4em 0 7em 0; }

#intro-wrapper {
  padding-bottom: 7em; }

#footer-wrapper hr {
  margin: 3em 0 3em 0; }
