form {
  label {
    display: block;
    font-weight: 700;
    color: #484d55;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    //@include vendor('transition', 'all .25s ease-in-out');
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #eee;
    box-shadow: inset 0px 0px 1px 0px #a0a1a7;
    border-radius: 0.35em;
    width: 100%;
    padding: 0.75em 1em 0.75em 1em;

    &:focus {
      background: #f8f8f8;
    }
  }

  input[type="text"],
  input[type="email"]
  input[type="password"] {
    line-height: 1em;
  }

  select {
    line-height: 1em;
  }

  textarea {
    min-height: 10em;
  }

  .formerize-placeholder {
    color: #555 !important;
    font-style: italic;
  }

  ::-webkit-input-placeholder {
    color: #555 !important;
    font-style: italic;
    line-height: 1.35em;
  }

  :-moz-placeholder {
    color: #555 !important;
    font-style: italic;
  }

  ::-moz-placeholder {
    color: #555 !important;
    font-style: italic;
  }

  :-ms-input-placeholder {
    color: #555 !important;
    font-style: italic;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}
