table {
  width: 100%;

  &.default {
    width: 100%;

    tbody {
      tr:nth-child(2n+2) {
        background: #f4f4f4;
      }
    }

    td {
      padding: 0.5em 1em 0.5em 1em;
    }

    th {
      text-align: left;
      font-weight: 400;
      padding: 0.5em 1em 0.5em 1em;
    }

    thead {
      background: #484d55;
      color: #fff;
    }

    tfoot {
      background: #eee;
    }
  }
}
