.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.titillium-light {
    font-family: 'Titillium Web';
    font-weight: 300;
}

.titillium-bold {
    font-family: 'Titillium Web';
    font-weight: 700;
}