.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


.titillium-light {
    font-family: 'Titillium Web';
    font-weight: 300;
}

.titillium-bold {
    font-family: 'Titillium Web';
    font-weight: 700;
}