html, body {
  overflow-x: hidden; }

body, input, select, textarea {
  line-height: 1.5em;
  font-size: 10.5pt;
  letter-spacing: 0; }

h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  margin: 0 0 1em 0; }

hr {
  margin: 1em 0 1em 0; }

input,
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 1em 0 1em 0;
  max-width: 30em;
  margin: 0 auto; }

.box.post-excerpt .image.left {
  position: relative;
  top: 0.25em;
  width: 25%;
  margin: 0; }

.box.post-excerpt h3, .box.post-excerpt p {
  margin-left: 32.5%; }

.feature-list section {
  border-top: solid 1px #eee; }

.feature-list > div > div:first-child > div:first-child > section {
  border-top: 0;
  padding-top: 0; }

.feature-list h3 {
  position: relative;
  padding: 4px 0 0 48px;
  line-height: 1.25em; }
  .feature-list h3:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px; }

.feature-list p {
  margin: 0 0 0 48px; }

ul.actions {
  margin: 2em 0 0 0; }
  ul.actions li {
    margin: 15px 0 0 0; }

form ul.actions {
  margin: 1em 0 0 0; }

#logo {
  text-align: center; }
  #logo h1 {
    font-size: 1.5em;
    letter-spacing: 0.2em; }
  #logo p {
    margin: 1.25em 0 0 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 0.9em; }

section, article {
  clear: both;
  padding: 1em 0 1em 0 !important; }

header br {
  display: none; }

header.style1 {
  padding: 0 0 1em 0; }
  header.style1 h2 {
    font-size: 1.5em;
    letter-spacing: 0.075em;
    line-height: 1.25em; }
  header.style1 p {
    display: block;
    margin: 0; }
