section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

header {
  &.style1 {
    text-align: center;

    h2 {
      font-weight: 700;
    }

    p {
      color: #b1b4b9;
    }
  }
}
