#intro {
  > .style2 {
    font-weight: 700;
    color: #fff;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
